@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@media (max-width: 639px) {
  .sm\:hidden {
    display: none;
  }

  .sm\:block {
    display: block;
    display: none;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .md\:hidden {
    display: none;
  }

  .md\:block {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .lg\:hidden {
    display: none;
  }

  .lg\:block {
    display: block;
  }
}

@media (min-width: 1024px) {
  .xl\:hidden {
    display: none;
  }

  .xl\:block {
    display: block;
  }
}

/* Flex Container Properties */
.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

/* Flex Direction */
.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

/* Flex Wrap */
.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

/* Justify Content */
.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

/* Align Items */
.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

/* Align Content */
.content-start {
  align-content: flex-start;
}

.content-end {
  align-content: flex-end;
}

.content-center {
  align-content: center;
}

.content-between {
  align-content: space-between;
}

.content-around {
  align-content: space-around;
}

.font-family\:mulish{
    font-family: 'Mulish', sans-serif;
}

.pos-r{
  position: relative;
}