.aspp {
    display: grid;
    place-items: center;
    margin-top: 200px;
}

.aspp-continer {
    width: 1170px;
    height: 424px;
}

.head {
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;
    /* 150% */
    width: 448px;
}

.head2 {
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    width: 532px;
}

.aspp ul {
    width: 479px;
}

.aspp ul li {
    color: #131318;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* 162.5% */
}

.o-aspp {
    width: 532px;
    height: 424px;
}

.button {
    border-radius: 8px;
    background: #FF5400;
    border: none;
    width: 174px;
    height: 52px;
    margin-top: 22px;
}

.z-aspp {
    margin-top: 55px;
}

.button p {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: -0.5px;
    margin-top: 10px;
}

.aspp-t-sm {
    display: grid;
    place-items: center;
}

.aspp-sm button {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border: none;
    margin-left: 7%;
    margin-top: 24px;
}

.aspp-sm button p {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: -0.5px;
    margin-top: 10px;
}

.aspp-sm {
    margin-top: 24px;
}

.ui {
 margin-left: 7%;
 margin-top: 24px;
}